<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_SECRET</key>
	<string>NICE_TRY</string>
	<key>DEEPL_SECRET</key>
	<string>399c5fe1-af4c-646b-8ca3-e26e0db989b4:fx</string>
</dict>
</plist>
